<section class="about-section py-5">
    <div class="container">
      <h2 class="text-center fw-bold mb-4">ABOUT COMPONENT</h2>
      <div class="divider mx-auto"></div>
      <form class="mx-auto mt-4" style="max-width: 600px;">
        <div class="d-flex justify-content-between ">
          <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
          <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
