<div class="container-fluid">
    <div class="img 1 layer">
        <img src="/public/poert1.png" width="100%">
    </div>
    <div class="img 2 layer">
        <img src="/public/port2.png" width="100%">
    </div>
    <div class="img 3 layer">
        <img src="/public/port3.png" width="100%">
    </div>
    <div class="img 4 layer">
        <img src="/public/poert1.png" width="100%">
    </div>
    <div class="img 5 layer">
        <img src="/public/port2.png" width="100%">
    </div>
    <div class="img 6 layer">
        <img src="/public/port3.png" width="100%">
    </div>
  </div>
